body {
    background-color: var(--main-color);
    width: 1440px;
    font-family: montserrat;
    background-image: url(../images/irbg.clouds.jpg);
    background-size: cover;
    background-attachment: fixed;
}