.gallery {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:0 143px
}

.photo-card {
    position: relative;
    overflow: hidden;
    background-color: var(--card-color);
    border: 1px solid #808080;
    flex: 0 1 calc(1/3*100% - 24px);
    width: 100%;
    height: 200px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

img {
    object-fit: none;
}

.info {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
    width: 100%;
    height: 48px;
    background-color: var(--card-color);
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 0.75;
    gap: 10px;
}
