:root {
    --accent-color: #6C8CFF;
    --accent-color-input: #000000;
    --accent-fonts-color: darkolivegreen;
    --button-color: #4E75FF;
    --card-color: #FFFFFF;
    --disabled-btncolor: #c1c1c1;
    ;
    --font-btncolor: #FFFFFF;
    --font-input: 16px;
    --font-loadmore-btn: 30px;
    --font-search-btn: 18px;
    --main-color: #FFFFFF;
    --search-bacgr: hwb(207 14% 14%);
}