@import './gallery.scss';
@import './reset.scss';
@import './search.scss';
@import './vars.scss';
@import './loader.scss';
@import './btn-load.scss';
@import './header';

body {
    background-color: var(--main-color);
    width: 1440px;
    font-family: montserrat;
    background-image: url(../images/irbg.clouds.jpg);
    background-size: cover;
    background-attachment: fixed;
}